body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.lang-select {
  background: #1f1f1f;
  color: #fff;
  border: 2px solid #2a2a2a;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 15px;
  cursor: pointer;

  /* placement */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-25%);

  /* transitions clean */
  transition:
    background 0.25s ease,
    border-color 0.25s ease,
    box-shadow 0.25s ease;
}

/* hover */
.lang-select:hover {
  background: #292929;
  border-color: #444;
  box-shadow: 0 0 12px rgba(255,255,255,0.15);
}

/* focus (clavier / clic) */
.lang-select:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 18px rgba(255,255,255,0.35);
}

/* options */
.lang-select option {
  background: #181818;
  color: white;
}

.top-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 20px 0;
    background: #181818;
    border-bottom: 1px solid #333;
}

.cat {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.cat::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #fff;
    transition: 0.25s;
    transform: translateX(-50%);
    border-radius: 5px;
}

.cat:hover::after {
    width: 100%;
}

.cat.active::after {
    width: 100%;
}

.content {
    gap: 4vh;
    padding: 20px 0;
    margin: 0 auto;
    align-items: center;
    display: none;
    text-align: center;
    font-size: 22px;
    width: 80vh;
}

.content.active {
    display: block;
}

.categories-social-networks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vh;
    padding: 20px 0;
    width: fit-content;
    margin: 0 auto;
}

.social-network {
    position: relative;
    background: #1f1f1f;
    border: 2px solid #2a2a2a;
    border-radius: 12px;
    width: 35vh;
    height: 8vh;
    text-decoration: none;
    color: white;
    display: block;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s, scale 0.3s;
}

.social-network:hover {
    background: #292929;
    border-color: #444;
    scale: 110%;
}

.row {
    position: absolute;
    left: 0;
    top: 50%;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    transform: translateY(-50%);
    align-items: center;
    gap: 20px;
}

.row img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.row span {
    font-size: 20px;
    white-space: nowrap;
}

.div-hover {
    transition: box-shadow .25s ease, transform .15s ease;
}

.div-hover:hover {
  box-shadow: 0 0px 24px rgba(0,0,0,0.5), 0 0 18px 2px rgba(255, 255, 255, 0.6);
}

.cat-title {
    font-size: 22px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
}

.youtube-profile {
    border-radius: 35%;
}

.categories-me {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 4vh;
    padding: 20px 0;
    width: fit;
    height: auto;
    margin: 0 auto;
}

.description {
    padding: 2px 6px;
    border-radius: 12px;
}

.description a {
    color: rgb(158, 181, 255);
    text-decoration: none;
    cursor: pointer;
}

.description>a:hover {
    text-decoration: underline;
}

.categories-what-i-use {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4vh;
    padding: 20px 0;
    width: fit-content;
    margin: 0 auto;
}

.square {
    border-radius: 12px;
}

.categories-what-i-use img {
    width: 85px;
    height: 85px;
}